//PokemonList
.pokemon-list {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 20px;
    h2 {
        margin-bottom: 30px;
        img {
            width: 30px;
        }
    }
}


//SinglePokemon
.pokemon-item {
    position: relative;
    margin: 10px 0;
    transition: .3s;
    cursor: pointer;
    &:hover {
        transform: translateY(-15px);
    }
}
.cell {
    display: block;
    width: 100%;
    position: relative;
}
.pokeball {
    position: absolute;
    fill: white;
    opacity: 0.5;
    transition: all 0.5s ease;
    width: 50px;
    left: 12%;
    top: 47%;
    // transform: translateY(-50%);
  }
  .pokeImg {
      width: 90%;
      position: absolute;
      top: 20%;
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto; 
    //   transform: translate(-50%, -50%);
      animation: poke (random(1000) / 10) + s infinite alternate;
      opacity: 1;
  }
  .name {
      position: absolute;
      bottom: 20px;
      font-size: 13px;
      left: 0; 
      right: 0; 
      display: inline-block;
      text-align: center;
      margin-left: auto; 
      margin-right: auto;
      text-transform: capitalize;
    
  }

@keyframes poke {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.1);
    }
}