.pokemonSingle {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 20px;
    text-align: center;
    h2 {
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    img {
        width: 200px;
    }
    .front {
    }
    .back {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
    .info {
        background-color: palegoldenrod;
        padding: 20px 10px;
        border-radius: 15px;
        display: block;
        margin: auto;
    }
    .btn-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        a {
            background-color: palegreen;
            color: #fff;
            padding: 10px 16px;
            width: 40%;
            border-radius: 5px;
            transition: .3s;
            &:hover {
                text-decoration: none;
                background-color: seagreen;
            }
        }
    }
    .type {
        padding: 7px;
        font-size: 16px;
        color: #fff;
        border-radius: 5px;
        margin-right: 5px;
        font-weight: 300;
        &.background-color {
            &-normal {
                background: #a4acaf;
            }
            &-fighting {
                background-color: #d56723;
            }          
            &-flying {
                background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
            }
            &-poison {
                background-color: #b97fc9;
            }
            &-ground {
                background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
            }
            &-rock {
                background-color: #a38c21;
            }
            &-bug {
                background-color: #729f3f;
            }
            &-ghost {
                background-color: #7b62a3;
            }
            &-steel {
                background-color: #9eb7b8;
            }
            &-fire {
                background-color: #fd7d24;
            }
            &-water {
                background-color: #4592c4;
            }
            &-grass {
                background-color: #9bcc50;
            }
            &-electric {
                background-color: #eed535;
            }
            &-psychic {
                background-color: #f366b9;
            }
            &-ice {
                background-color: #51c4e7;
            }
            &-dragon {
                background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
            }
            &-dark {
                background-color: #707070;
            }
            &-fairy {
                background-color: #fdb9e9;
            }
        }
    }

}