.about {
    background-color: #fff;
    border-radius: 30px;
    h1 {
        color: rgba(255, 0, 0, 0.863);
        text-align: center;
        margin-top: 40%;
        transform: translateY(-50%);
        font-size: 45px;
    }
    img {
        margin-top: 20px;
        width: 80%;
        text-align: right;
    }
}