.search {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 20px;
    text-align: center;
    form {
        margin-top: 40px;
        justify-content: center;
    }
    .nothing, h4 {
        margin-top: 25px;
    }
}