@import "../../resources/styles/variables.scss";
header {
    padding-top: 20px;
    .logotype {
        width: 180px;
    }
    .navbar {
    border-radius: 30px;
        .nav-item {
            margin-right: 10px;
            margin-left: 10px;
            .nav-link {
                -webkit-text-stroke: 1px $blue;
                -webkit-text-fill-color: $yellow;
                font-size: 22px;
                font-weight: 800;
                transition: .4s;
                &:hover {
                    -webkit-text-stroke: 1px $yellow;
                    -webkit-text-fill-color: $blue;
                }
            }
        
        }
    }
}